body {
  font-family: Arial, sans-serif;
  background: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.wrap {
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 20px;
}

.heading {
  text-align: center;
  color: #333;
  text-decoration: underline;
}

.card {
  background: #ccd2d8;
  border-radius: 6px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.photo {
  display: block;
  margin-bottom: 9px;
  color: #0077ff;
  text-decoration: none;
  text-decoration: underline;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.logout {
  background: #0788bb;
  border: none;
  padding: 5px 10px;
  border-radius: 6px;
  color: white;
  cursor: pointer;
}

.messages {
  display: flex;
  flex-direction: column-reverse; /* newest at bottom visually */
  height: 500px;
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  background: #fafafa;
}

.msg {
  padding: 8px 10px;
  border-radius: 2px;
  margin-bottom: 8px;
  max-width: 80%;
  word-wrap: break-word;
}

.mine {
  background: #b0d3eb;
  align-self: flex-end;
}

.other {
  background: #e1e1e1;
  align-self: flex-start;
}

.meta {
  font-size: 11px;
  color: #666;
  margin-top: 2px;
}

.input-area {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 5px;
}

.msg-box{
  width: 100%;
  padding: 8px;
  border: 1px solid #c4b9b9;
}

.btnsend {
  background: #0077ff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  width: 99px;
}

.link-box{
    border: 1px solid #c4b9b9 ;
    width:100%;
}
